<?xml version="1.0" encoding="UTF-8"?>
<app>
    <modules>
        <module>
            <module_name>Install</module_name>
            <routes>
                <install>
                    <controller>
                        <class>Install_Controller_Index</class>
                    </controller>
                </install>
            </routes>
        </module>
    </modules>
</app>